body {
    /*background-color: #1f2937;*/
    display:flex;
    flex-direction: column;
    gap: 32px;
    
}    

ul {
    display:flex;
    padding: 0;
    margin: 0;
    gap: 36px;
    list-style-type: none;
}

.header{
    display:flex;
    justify-content: space-around;
    padding-top:8px;
    /*color: #f9faf8;*/
}

.overview {
    display:flex;
    justify-content: center;
    gap: 64px;
}

.overview-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 16px;
}

#ZMain {
    width: auto;
    height: 600px; 
}

img {
    width:300px;
    height:auto;
}

.top-information {
    text-align: center;
    margin-top: -64px;
    margin-bottom: 32px;
}

.zubbybiz-all {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 48px;
}

.zubbybiz-each {
    max-width: 300px;
}