body {
    /*background-color: #1f2937;*/
    display:flex;
    flex-direction: column;
    gap: 64px;
    
}    

ul {
    display:flex;
    padding: 0;
    margin: 0;
    gap: 36px;
    list-style-type: none;
}

.header{
    display:flex;
    justify-content: space-around;
    /*color: #f9faf8;*/
}

.overview {
    display:flex;
    justify-content: center;
    gap: 48px;
}

.overview-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 16px;
}
